* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 32px 72px;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1a1924;
  --text-white: #e1e1e6;
  --received-message: #633bbc;
  --sent-message: #07847e;
  --form-background: #282843;
  --scrollbar-hover: #2d2d50;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

#contact-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  gap: 16px;
}

.profile-pic{
  width: 48px;
  height: auto;
}

#name-and-status {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-button{
  cursor: pointer;
}

.message-input {
  width: 100%;
  min-height: 52px;
  margin-top: 24px;
  padding: 14px 24px;
  box-sizing: border-box;
  background-color: var(--form-background);
  border-radius: 999px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form button {
  border: none;
  background: none;
  cursor: pointer;
}

form input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
}

.contact-name {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-white);
}

.p-regular {
  color: var(--text-white);
  font-size: 0.75rem;
  font-weight: 400;
}

.p-bold {
  color: var(--text-white);
  font-size: 0.75rem;
  font-weight: 700;
}

.status {
  display: flex;
  gap: 4px;
}

.online {
  color: #00b37e;
}

.chat-date {
  margin-top: 14px;
  text-align: center;
}

.chat {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  color: var(--text-white);
}

.message {
  margin-top: 30px;
}

.message-content {
  display: inline-block;
  max-width: 50%;
  padding: 14px;
  margin-top: 10px;
}

.received {
  text-align: start;
}

.received .message-content {
  background-color: var(--received-message);
  border-radius: 0px 8px 8px 8px;
}

.sent {
  text-align: end;
}

.sent .message-content {
  text-align: start;
  background-color: var(--sent-message);
  border-radius: 8px 8px 0px 8px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--form-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}
